[Desktop Entry]
Type=Application
Version=1.0
Name=OpenHD-ImageWriter
Comment=OpenHD Imager
Icon=rpi-imager
Exec=openhdimagewriter
Categories=Utility
StartupNotify=false
