name: Build MacOS

on:
  push:
   branches:
      - "2.5-evo"
      - "dev-release"
      - "release"
   paths-ignore:
      - '**.md'
      - '**.asciidoc'
      - '**.adoc'
      - '.gitignore'
      - 'LICENSE'
      
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    defaults:
      run:
        working-directory: src

    steps:
    - uses: actions/checkout@v3

    - name: Install Qt
      uses: jurplel/install-qt-action@v3

    - name: Install create-dmg
      run: brew install create-dmg
    

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: |
        cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
        cd ../build/
        ls -a
        create-dmg OpenHDImageWriter.dmg OpenHDImageWriter.app


    - name: Upload to Github  
      uses: 'actions/upload-artifact@v3'
      with:
        name: "OpenHD Image Writer"
        path: |
          /Users/runner/work/OpenHD-ImageWriter/OpenHD-ImageWriter/build/OpenHDImageWriter.dmg
        if-no-files-found: error
